.text_reveal {
  @apply max-w-3xl mx-auto p-8 pt-16;
  .quote2 {
    @apply text-6xl/[76px] text-slate-700 dark:text-gray-200 text-center font-black;
    div {
      @apply overflow-hidden;
    }
    /* span {
      @apply overflow-hidden;
    } */
  }
}

.movieBox {
  @apply h-screen flex flex-col items-center justify-center bg-slate-200;
  .box {
    @apply w-[20vw] bg-orange-400;
  }
  .box-container__smaller .box {
    @apply w-[100vw] bg-orange-400;
  }
  h1 {
  }
}

.cBox {
  @apply h-screen flex flex-col items-center justify-center bg-slate-200 overflow-hidden;
  div {
    @apply flex flex-col justify-center items-center;
    em {
      @apply flex justify-center items-center w-10 h-10 rounded-full bg-yellow-300 z-50;
      img {
        @apply max-w-full;
        animation: rotateCircle 10s linear infinite;
      }
    }
    i {
      @apply block bg-black w-[1vw] h-[1vw] rounded-full absolute;
    }
  }
}
@keyframes rotateCircle {
  100% {
    transform: rotate(360deg);
  }
}

.transition {
  @apply overflow-hidden py-8 justify-center items-center relative;
  .transition_wrap {
    .transition_item {
      @apply flex flex-nowrap justify-center items-center;
      span {
        @apply text-8xl p-6 uppercase text-gray-600;
      }
    }
  }
}

.banner {
  @apply overflow-hidden py-8 justify-center items-center relative;
  .banner_wrap {
    @apply bg-gray-300;
    .banner_container {
      @apply flex flex-nowrap items-center;
      justify-content: var(--align);
      .banner_items {
        @apply flex flex-nowrap flex-none;
        animation: moving 5s linear infinite;
        span {
          @apply border text-8xl p-6 block;
          &:nth-of-type(2) {
            @apply bg-pink-300;
          }
        }
      }
    }
  }
}

@keyframes moving {
  0% {
    transform: translateX(calc(var(--start) * -1));
    /* transform: translateX(-557px); */
  }
  100% {
    transform: translateX(calc(var(--end) * 1));
    /* transform: translateX(577); */
  }
}

.textTyping {
  @apply text-5xl/loose bg-slate-100 dark:bg-transparent dark:text-white p-8;
}

.imgSplit {
  img {
    @apply w-6/12;
  }
}

.elevator {
  @apply text-sky-500 text-5xl grid grid-cols-2 gap-3 bg-slate-400;
  .elevatorL {
    @apply text-right;
  }
}

.svgImg {
  height: 800px;
  text-align: center;
  svg {
    fill: #000;
    stroke-width: 2px;
    stroke: #f7f7f7;
  }
}
.starsvg {
}

.svgIcons {
  /* @apply bg-yellow-200; */
  animation: rotatei 15s linear infinite;
}
@keyframes rotatei {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(365deg);
  }
}

.appleBox {
  @apply relative;
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}
