@import url('https://fonts.googleapis.com/css2?family=Roboto&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', 'IBM Plex Sans KR', system-ui, sans-serif;
  }
  .blind {
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
  }
  h1 {
    @apply underline underline-offset-8 text-red-700 dark:text-pink-300 text-5xl/loose text-center;
  }
  blockquote {
    @apply text-black dark:text-green-100 text-center;
    h2 {
      @apply text-blue-700 dark:text-blue-300 text-5xl/loose;
    }
  }
  .basic-width {
    @apply mx-auto max-w-7xl p-6 lg:p-8;
  }
  .text-hover {
    @apply hover:underline hover:decoration-solid hover:underline-offset-2;
  }
  button {
    &.btn-red {
      @apply rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500;
    }
    &.btn-white {
      @apply rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
    }
  }
}

@layer components {
  /* Header */
  .not-fixed {
    @apply bg-white border-solid border-b border-gray-200 shadow;
    #nav-menu {
      a.active {
        @apply bg-gray-100 text-gray-800;
      }
    }
  }
  .is-fixed {
    @apply bg-gray-800;
    #nav-menu {
      a {
        @apply text-gray-100;
        &.active {
          @apply bg-gray-900 text-white;
        }
      }
    }
  }

  #user-menu-content {
    a {
      @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-700;
    }
    .active {
      @apply bg-gray-400 text-white;
    }
  }

  /* Tab */
  .snb {
    .snb-button {
      @apply flex justify-center gap-2 sticky top-20 w-full;
      button {
        @apply bg-teal-900 text-white font-bold text-xs md:text-base rounded-md p-2 px-4;
      }
    }
    .snb-wrap {
      @apply mt-20 text-lg/loose font-thin;
      h2 {
        @apply text-2xl text-red-400 font-bold;
      }
      p {
        @apply dark:text-gray-400;
      }
    }
  }
  /* Scroll Trigger */
  .quote {
    font-family: 'Libre Baskerville', serif;
    @apply text-6xl/[76px] text-slate-700 dark:text-gray-200 text-center;
    .word {
      @apply overflow-hidden;
    }
  }

  /* Three D */
  #theJ {
    /* height: 1000vh; */
    canvas {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
    }
  }

  /* Horizontal scroll */
  /* Hscroll */
  .horizontal {
    @apply overflow-x-hidden text-gray-800 dark:text-gray-300;
    .pin-wrap,
    .pin-wrap > div {
      @apply flex relative z-10 h-screen;
    }

    .item {
      @apply relative py-12 px-20 flex flex-[0_0_500px] items-center leading-loose select-none border-r;
      &:before {
        @apply absolute text-9xl opacity-25 font-bold -z-10 -translate-x-11 -translate-y-12 leading-none;
        content: counter(item);
      }
    }
    .to-right {
      float: left;
      counter-reset: item;
      .item:before {
        counter-increment: item;
      }
    }

    .to-left {
      float: right;
      counter-reset: item 11;
      .item:before {
        counter-increment: item -1;
      }
    }
  }

  /* simple */

  .pSection {
    position: relative;
    padding-top: 200px;
    padding-bottom: 300px;
    .container {
      padding: 20px;
      margin: 0 auto;
      max-width: 1070px;
      position: relative;
      z-index: 1;
      .pContent {
        width: 65%;
        background-color: rgba(78, 152, 21, 0.8);
        color: white;
        padding: 40px 60px;
      }
    }
    .pImage {
      width: 70%;
      position: absolute;
      top: 0;
      right: 0;
      max-height: 900px;
    }
  }

  /* gallery 2 */
  .gallery2 {
    .gText {
      @apply text-9xl/loose font-black dark:text-gray-300;
    }
    .gWrapper {
      ul {
        padding-left: 1rem;
        list-style: none;
      }
      li {
        flex-shrink: 0;
        width: clamp(500px, 60vw, 800px);
        padding-right: 1rem;
      }
    }
  }

  /* gallery 3 */

  .gallery3 {
    overflow: hidden;
    border: 1px solid yellow;
    section {
      width: 100vw;
      ul {
        padding-left: 1rem;
        list-style: none;
        display: flex;
      }
      li {
        flex-shrink: 0;
        width: clamp(300px, 50%, 500px);
        height: 500px;
        padding-right: 1rem;
        background-color: aliceblue;
        background-size: contain;
      }
    }
  }

  .ccon {
    overscroll-behavior: none;
    width: 600%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .panel {
      width: clamp(320px, 100vw / 2, 800px);
      height: clamp(320px, 100vw / 2, 800px);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 1.5em;
      text-align: center;
      color: white;
      position: relative;
      box-sizing: border-box;
      padding: 10px;
    }
  }

  /* reveal */
  .revealCon {
    .feature {
      @apply flex flex-wrap items-center mb-8;
    }

    .imgBox {
      @apply w-4/12;
      .card {
        --calc: calc(100% - 10px);
        @apply h-0 p-0 pb-[--calc] rounded-lg border border-gray-600 overflow-hidden;
      }
    }
    .txtBox {
      @apply w-7/12 ml-[8%] dark:text-gray-400 text-lg/loose;
      h3 {
        @apply text-4xl/loose dark:text-white;
      }
    }

    .gs_reveal_fromRight {
      .imgBox {
        order: 2;
      }
      .txtBox {
        margin-left: 0;
        margin-right: 2%;
      }
    }

    .gs_reveal {
      opacity: 0;
      visibility: hidden;
      will-change: transform, opacity;
    }
    &.ver2 {
      .gs_reveal_fromRight {
        order: 2;
      }
      .gs_reveal_fromRight ~ .txtBox {
        margin-left: 0;
        margin-right: 2%;
      }
    }
  }

  /* Text */
  .demo {
    position: relative;
    width: 800px;
    height: 300px;
    background-color: #f8f8f8;
    margin: auto;
    /* overflow: hidden; */
  }

  .demo h3 {
    position: absolute;
    top: 65px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 800px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    font-size: 120px;
  }

  /* Flip */
  .flipCon {
    margin: auto;
    position: relative;
    visibility: hidden;
  }

  .flipGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2% 3.6%;
    padding: 10px;
    .item {
      cursor: pointer;
      font-size: 0;
    }
  }

  .flipDetail {
    position: fixed;
    top: 10px;
    left: 50%;
    width: 90.1vmin;
    max-height: 100%;
    cursor: pointer;
    font-size: 0;
    color: lightgray;
    display: flex;
    visibility: hidden;

    img {
      position: relative;
      z-index: 1;
      flex: 1 1 50%;
      width: 50%;
    }

    .flipContent {
      background: #333;
      padding: 2rem 1.5rem;
      font-size: 1rem;
      box-sizing: border-box;
      flex-grow: 1;
      flex: 1 1 50%;

      & > * {
        margin-bottom: 1rem;
      }
    }

    .title {
      font-size: 2rem;
      text-transform: uppercase;
    }

    .description {
      line-height: 1.5;
    }
  }
}
@layer utilities {
}

/*  */
/*  */
