.flipWrap {
  display: grid;
  align-items: center;
  justify-items: center;
}

.flipCon {
  height: 90vmin;
  width: 90vmin;
  position: relative;
  overflow: auto;

  /* Hide the app on load */
  /* visibility: hidden; */
}

.flipGallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2% 3.6%;
  padding: 10px;
  .item {
    cursor: pointer;
    font-size: 0;
  }
}

.flipDetail {
  position: fixed;
  top: 10px;
  left: 50%;
  width: 90.1vmin;
  max-height: 70%;
  cursor: pointer;
  font-size: 0;
  color: lightgray;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  overflow: auto;

  img {
    width: 50%;
    position: relative;
    z-index: 1;
  }

  .content {
    background: #333;
    padding: 2rem 1.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    flex-grow: 1;

    & > * {
      margin-bottom: 1rem;
    }
  }

  .title {
    font-size: 2rem;
    text-transform: uppercase;
  }

  .description {
    line-height: 1.5;
  }
}
